# **Classification-**

In [14]:
import pandas as pd

model_df = pd.read_csv("../data/processed/model_ready.csv")

print(model_df.shape)

(52890, 56)

In [15]:
model_df.columns

Index(['VisitYear', 'VisitMonth', 'Rating', 'ContinentId', 'RegionId',
       'CountryId', 'CityId', 'AttractionCityId', 'Quarter',
       'User_Total_Visits', 'User_Avg_Rating', 'Attraction_Popularity',
       'Attraction_Avg_Rating', 'VisitMode_Couples', 'VisitMode_Family',
       'VisitMode_Friends', 'VisitMode_Solo', 'Season_Spring', 'Season_Summer',
       'Season_Winter', 'Continent_America', 'Continent_Asia',
       'Continent_Australia & Oceania', 'Continent_Europe',
       'AttractionType_Ballets', 'AttractionType_Beaches',
       'AttractionType_Caverns & Caves',
       'AttractionType_Flea & Street Markets', 'AttractionType_Historic Sites',
       'AttractionType_History Museums', 'AttractionType_National Parks',
       'AttractionType_Nature & Wildlife Areas',
       'AttractionType_Neighborhoods',
       'AttractionType_Points Of Interest & Landmarks',
       'AttractionType_Religious Sites', 'AttractionType_Spas',
       'AttractionType_Speciality Museums', 'AttractionType_Volcanos',
       'AttractionType_Water Parks', 'AttractionType_Waterfalls',
       'User_Favorite_Type_Ballets', 'User_Favorite_Type_Beaches',
       'User_Favorite_Type_Caverns & Caves',
       'User_Favorite_Type_Flea & Street Markets',
       'User_Favorite_Type_Historic Sites',
       'User_Favorite_Type_History Museums',
       'User_Favorite_Type_National Parks',
       'User_Favorite_Type_Nature & Wildlife Areas',
       'User_Favorite_Type_Neighborhoods',
       'User_Favorite_Type_Points Of Interest & Landmarks',
       'User_Favorite_Type_Religious Sites', 'User_Favorite_Type_Spas',
       'User_Favorite_Type_Speciality Museums', 'User_Favorite_Type_Volcanos',
       'User_Favorite_Type_Water Parks', 'User_Favorite_Type_Waterfalls'],
      dtype='object')

In [16]:
master_df = pd.read_csv("../data/processed/master_cleaned.csv")

master_df.head()

,TransactionId,UserId,VisitYear,VisitMonth,AttractionId,Rating,VisitMode,ContinentId,RegionId,CountryId,CityId,CityName,Country,Region,Continent,AttractionCityId,AttractionType,Attraction,AttractionAddress
0,3,70456,2022,10,640,5,Couples,5.0,21.0,163.0,4341.0,Guildford,United Kingdom,Western Europe,Europe,1,Nature & Wildlife Areas,Sacred Monkey Forest Sanctuary,"Jl. Monkey Forest, Ubud 80571 Indonesia"
1,8,7567,2022,10,640,5,Friends,2.0,8.0,48.0,464.0,Ontario,Canada,Northern America,America,1,Nature & Wildlife Areas,Sacred Monkey Forest Sanctuary,"Jl. Monkey Forest, Ubud 80571 Indonesia"
2,9,79069,2022,10,640,5,Family,2.0,9.0,54.0,774.0,Brazil,Brazil,South America,America,1,Nature & Wildlife Areas,Sacred Monkey Forest Sanctuary,"Jl. Monkey Forest, Ubud 80571 Indonesia"
3,10,31019,2022,10,640,3,Family,5.0,17.0,135.0,583.0,Zurich,Switzerland,Central Europe,Europe,1,Nature & Wildlife Areas,Sacred Monkey Forest Sanctuary,"Jl. Monkey Forest, Ubud 80571 Indonesia"
4,15,43611,2022,10,640,3,Couples,5.0,21.0,163.0,1396.0,Manchester,United Kingdom,Western Europe,Europe,1,Nature & Wildlife Areas,Sacred Monkey Forest Sanctuary,"Jl. Monkey Forest, Ubud 80571 Indonesia"

In [17]:
from sklearn.preprocessing import LabelEncoder

# Define target
y = master_df['VisitMode']

# Encode target
le = LabelEncoder()
y = le.fit_transform(y)

# Define features
X = master_df.drop(columns=['VisitMode', 'Rating'])

In [18]:
X = pd.get_dummies(X, drop_first=True)

In [19]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

Random forest

In [20]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(
    n_estimators=200,
    random_state=42,
    n_jobs=-1,
    class_weight='balanced'
)

clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

In [21]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

accuracy = accuracy_score(y_test, y_pred)

print("Accuracy:", accuracy)
print("\nClassification Report:\n")
print(classification_report(y_test, y_pred))

Accuracy: 0.5014180374361883

Classification Report:

              precision    recall  f1-score   support

           0       0.50      0.19      0.28       142
           1       0.52      0.71      0.60      4329
           2       0.51      0.47      0.49      3038
           3       0.40      0.28      0.33      2183
           4       0.44      0.22      0.30       886

    accuracy                           0.50     10578
   macro avg       0.48      0.37      0.40     10578
weighted avg       0.49      0.50      0.48     10578

In [22]:
le.classes_

array(['Business', 'Couples', 'Family', 'Friends', 'Solo'], dtype=object)

XGBoost

In [23]:
from xgboost import XGBClassifier

xgb = XGBClassifier(
    n_estimators=200,
    learning_rate=0.1,
    max_depth=6,
    random_state=42,
    use_label_encoder=False,
    eval_metric='mlogloss'
)

xgb.fit(X_train, y_train)

y_pred = xgb.predict(X_test)

from sklearn.metrics import accuracy_score, classification_report

print("Accuracy:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

D:\Labmentix\Tourism experience\tourism\.venv\Lib\site-packages\xgboost\training.py:200: UserWarning: [22:05:18] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:782:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)

Accuracy: 0.4946114577424844
              precision    recall  f1-score   support

           0       0.50      0.02      0.04       142
           1       0.49      0.83      0.62      4329
           2       0.53      0.40      0.46      3038
           3       0.43      0.16      0.24      2183
           4       0.66      0.04      0.08       886

    accuracy                           0.49     10578
   macro avg       0.52      0.29      0.29     10578
weighted avg       0.50      0.49      0.44     10578

In [24]:
import joblib

# Save model
joblib.dump(clf, "../models/visit_mode_model.pkl")

# Save label encoder
joblib.dump(le, "../models/label_encoder.pkl")

print("Models saved successfully!")

Models saved successfully!