# **Regression-**

In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

In [3]:
model_df = pd.read_csv("../data/processed/model_ready.csv")

print(model_df.shape)
model_df.head()

(52890, 56)

,VisitYear,VisitMonth,Rating,ContinentId,RegionId,CountryId,CityId,AttractionCityId,Quarter,User_Total_Visits,...,User_Favorite_Type_National Parks,User_Favorite_Type_Nature & Wildlife Areas,User_Favorite_Type_Neighborhoods,User_Favorite_Type_Points Of Interest & Landmarks,User_Favorite_Type_Religious Sites,User_Favorite_Type_Spas,User_Favorite_Type_Speciality Museums,User_Favorite_Type_Volcanos,User_Favorite_Type_Water Parks,User_Favorite_Type_Waterfalls
0,3.258693,0.992612,5,5.0,21.0,163.0,4341.0,1,4,-0.484049,...,False,True,False,False,False,False,False,False,False,False
1,3.258693,0.992612,5,2.0,8.0,48.0,464.0,1,4,-0.484049,...,False,True,False,False,False,False,False,False,False,False
2,3.258693,0.992612,5,2.0,9.0,54.0,774.0,1,4,-0.484049,...,False,True,False,False,False,False,False,False,False,False
3,3.258693,0.992612,3,5.0,17.0,135.0,583.0,1,4,-0.195395,...,False,True,False,False,False,False,False,False,False,False
4,3.258693,0.992612,3,5.0,21.0,163.0,1396.0,1,4,0.093260,...,False,True,False,False,False,False,False,False,False,False

In [4]:
X = model_df.drop(columns=['Rating'])
y = model_df['Rating']

In [5]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

print("Train shape:", X_train.shape)
print("Test shape:", X_test.shape)

Train shape: (42312, 55)
Test shape: (10578, 55)

In [6]:
lr = LinearRegression()
lr.fit(X_train, y_train)

lr_pred = lr.predict(X_test)

In [7]:
lr_mse = mean_squared_error(y_test, lr_pred)
lr_rmse = np.sqrt(lr_mse)
lr_r2 = r2_score(y_test, lr_pred)

print("Linear Regression Results")
print("MSE:", lr_mse)
print("RMSE:", lr_rmse)
print("R2:", lr_r2)

Linear Regression Results
MSE: 0.2400589068139875
RMSE: 0.48995806638322376
R2: 0.7414337196077787

In [8]:
rf = RandomForestRegressor(
    n_estimators=100,
    random_state=42,
    n_jobs=-1
)

rf.fit(X_train, y_train)

rf_pred = rf.predict(X_test)

In [9]:
rf_mse = mean_squared_error(y_test, rf_pred)
rf_rmse = np.sqrt(rf_mse)
rf_r2 = r2_score(y_test, rf_pred)

print("Random Forest Results")
print("MSE:", rf_mse)
print("RMSE:", rf_rmse)
print("R2:", rf_r2)

Random Forest Results
MSE: 0.28356675036610257
RMSE: 0.5325098594074128
R2: 0.6945716330288624

In [11]:
comparison = pd.DataFrame({
    "Model": ["Linear Regression", "Random Forest"],
    "R2 Score": [lr_r2, rf_r2],
    "RMSE": [lr_rmse, rf_rmse]
})

comparison

               Model  R2 Score      RMSE
0  Linear Regression  0.741434  0.489958
1      Random Forest  0.694572  0.532510